@mixin line-gradient($deg1, $color1, $color11, $deg2, $color2, $color22) {
    background-image: repeating-linear-gradient($deg1, $color1, transparent 2px, $color11),
        repeating-linear-gradient($deg2, $color2, $color22);
}

@mixin zavitok {
    color: $page-color;
    margin-left: 1rem;

    &__heading {
        font-size: 1.6rem;

        @media (min-width: 768px) {
            font-size: 2.3rem
        }

        @media (min-width: 1024px) {
            font-size: 3rem;
        }

    }

    &__text {
        color: $additional-color;
        font-size: 1.2rem;
        line-height: 1rem;

        @media (min-width: 768px) {
            font-size: 1.3rem
        }

        @media (min-width: 1440px) {
            font-size: 1.6rem;
        }
    }
}

@mixin t-shadow-standart($a: 1px, $b: 1px, $c: 1px, $color: $default-color) {
    text-shadow: $a $b $c $color;
}

@mixin button-border($left, $rotate) {
    border: 5px groove $additional-color;
    position: absolute;
    width: 25px;
    height: 25px;
    top: calc(50% - 25px);
    left: $left;
    z-index: 999;
    transform: rotate($rotate);
    border-right: none;
    border-top: none;
    cursor: pointer;

    @media (min-width: 1024px) {
        width: 50px;
        height: 50px
    }
}

@mixin big-shadow() {
    text-shadow: 2px 2px 0 black;
}

@mixin small-shadow() {
    text-shadow: 1px 1px 0px black, 8px 0px 10px #ccc;
}

@mixin form-ui {
    line-height: 1rem;
    padding: 1rem 1rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    margin: 1rem 0;

}

@mixin menu-image() {
    content: '';
    position: absolute;
    height: 32px;
    width: 32px;
    left: -36px;
    top: -10px;


    @media (min-width: 1024px) {
        top: -5px;
        left: -44px;

    }
}