$header-background: #272626;
$default-color: black;
$page-color:white;
$paragraph-color: #777777;
$first-linear-color: rgba(0, 0, 0, .8);
$second-linear-color: #141414;
$additional-color: rgb(252, 159, 78);
$third-color: #0026ff;
$four-color: #23263a;