@import "_var";
@import "_mixins";
@import "_templates";

* {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    font-family: "Georgia", sans-serif;
}

.header {
    background-color: $header-background;
    min-height: 170px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &-navigation {
        order: 1;
        color: $page-color;

        &__list {
            display: flex;
            justify-content: space-between;
            transition: .5s;


        }

        &__item {
            list-style-type: none;
            padding: 15px 45px;
            text-transform: uppercase;
            cursor: pointer;
            border: 1px solid $page-color;
            transition: .5s;
            opacity: .8;

            &:hover {
                opacity: 1;
                transform: translateY(10px);
                background-color: $default-color;
            }

            &_active {
                opacity: 1;
                background-color: $default-color;

                &:hover {
                    transform: translateY(0);
                }
            }
        }
    }

    .zavitok-logo {
        @include zavitok;
    }
}

.link {
    text-decoration: none;
    color: $page-color;
}

.forging {
    display: flex;
    min-height: 300px;
    @include line-gradient(45deg, rgba(0, 0, 0, .7), $first-linear-color 2px, 135deg, rgba(0, 0, 0, .7), $first-linear-color 2px);

    &-about-us {
        color: $paragraph-color;
        padding: 80px 60px;
        text-align: center;
        display: flex;
        flex-direction: column;

        h3 {
            color: $page-color;
            font-size: 2rem;
            padding-bottom: 30px;
        }

        &__description {
            font-family: "Open Sans", sans-serif;
            line-height: 2rem;
            text-shadow: 1px 1px 0px $default-color;
            position: relative;
            font-style: italic;

            &:after {
                bottom: -10px;
                left: 0;
                content: '';
                width: 100%;
                height: 20px;
                border-radius: 50%;
                background-color: transparent;
                border: 3px solid $additional-color;
                border-top: none;
                border-left: none;
                border-right: none;
                position: absolute;

            }

            &:before {
                top: -10px;
                left: 0;
                content: '';
                width: 100%;
                height: 20px;
                border-radius: 50%;
                background-color: transparent;
                border: 3px solid $additional-color;
                border-bottom: none;
                border-left: none;
                border-right: none;
                position: absolute;

            }
        }

        &__link {
            font-size: 1.3rem;
            margin-top: 50px;
            cursor: pointer;
            border-bottom: 1px dashed $page-color;
            display: inline-block;
            align-self: center;
            color: $paragraph-color;

            &:hover {
                color: $page-color;
            }
        }
    }
}

.footer {
    display: flex;
    min-height: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 3rem;
    @include line-gradient(45deg, $first-linear-color, $second-linear-color 2px, 135deg, $first-linear-color, $second-linear-color 2px);

    .wrapper {

        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 1024px;
        align-items: center;
    }

    &-navigation {

        &__list {
            display: flex;
            justify-content: space-around;
            transition: .5s;
            margin-top: 4rem;

        }

        &__item {
            list-style-type: none;
            text-transform: uppercase;
            cursor: pointer;
            transition: .5s;
            opacity: .8;
            padding: 1rem 4rem;

            &:hover {
                opacity: 1;

            }

            a {
                &:hover {
                    color: $additional-color;
                }
            }

            &_active {
                opacity: 1;
                color: $additional-color;

                &:hover {
                    transform: scale(1);
                }

                a {
                    color: $additional-color;
                }
            }
        }
    }

    &__logo {
        order: -1;
    }

    .zavitok-logo {
        @include zavitok;
    }

    &__group {
        margin-top: 1rem;
        color: gray;
        border: 3px dashed gray;
        border-radius: 50%;
        padding: 1rem;
        cursor: pointer;
        transition: .5s;

        a {
            transition: .5s;
        }

        &:hover {
            border-color: $additional-color;
        }

        &:hover a {
            color: $third-color;
        }
    }

    .developer {
        color: gray;
        padding-top: 1rem;
        padding-bottom: 1rem;
        opacity: .9;
    }
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: url(../img/anvil.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &-description {
        text-align: center;
        margin-top: 5rem;

        &__heading {
            color: $page-color;
            font-size: 2rem;
            padding-bottom: 30px;
            margin-top: 2rem;
        }

        &__text {
            color: $additional-color;
            font-size: 1.3rem;
            line-height: 2rem;
        }
    }

    &-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-top: 3rem;
        margin-bottom: 5rem;

        &__item {
            width: 25%;
            display: flex;
            flex-direction: column;
            padding: 3rem 2rem;
            margin: 20px;
            background-color: $four-color;
            color: white;
            font-family: 'Poppins', sans-serif;
        }

        &__heading {
            font-size: 1.25rem;
            margin-top: 2rem;
        }

        &__text {
            font-size: 1rem;
            margin-top: 2rem;
            line-height: 1.7rem;
        }

        &__image {
            max-width: 100%;
        }
    }
}

.latest-work {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: $page-color;
    padding-top: 1rem;
    @include line-gradient(45deg, $four-color, $second-linear-color 2px, 135deg, $four-color, $second-linear-color 2px);


    &__heading {
        font-size: 2rem;
        margin: 5rem 0;
    }

    &__jobs {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    &__job {
        width: 20%;
        margin: 0 1rem 3rem 1rem;

    }

    &__description {
        color: black;
        margin-top: 2rem;

        span {
            color: $page-color;
        }
    }

    &__link {}

    &__image {
        border-radius: 50%;
        width: 16rem;
        height: 16rem;
        transition: .5s;
        opacity: .9;

        &:hover {
            transform: scale(1.5);
            opacity: 1;
        }

    }
}