@import "_var";
@import "_mixins";

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    @media (min-width: 1024px) {}
}

html {
    @media (min-width: 1440px) {
        font-size: 25px;
    }
}

.menu-btn {
    width: 42px;
    height: 42px;
    position: fixed;
    background: white;
    top: 10px;
    right: 10px;
    z-index: 999;
    border-radius: 50%;
    overflow: hidden;

    @media (min-width: 1024px) {
        display: none;
    }

    & span {
        position: absolute;
        top: calc(50% - 1px);
        left: calc(50% - 8px);
        background: black;
        width: 18px;
        height: 2px;

        &:before {
            content: '';
            top: -5px;
            background: black;
            width: 18px;
            height: 2px;
            position: absolute;
            transition: .3s;

        }

        &:after {
            content: '';
            top: 5px;
            background: black;
            width: 18px;
            height: 2px;
            position: absolute;
            transition: .3s;

        }
    }

    &_active {
        & span {
            height: 0;

            &:before {
                left: -1px;
                width: 20px;
                transform: rotate(45deg) translate(3px, 4px);
            }

            &:after {
                left: -1px;
                width: 20px;
                transform: rotate(-45deg) translate(3px, -4px);
            }
        }
    }
}


.container {
    margin: 0 auto;
    font-family: "Georgia", sans-serif;
}

.header {
    background-color: $header-background;
    min-height: 70px;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;

    @media (min-width: 1024px) {
        justify-content: space-around;
        padding: .5rem 0rem;

    }

    &__link {
        font-size: .7rem;
        position: relative;
        text-align: left;

        @media (min-width: 768px) {
            font-size: 1rem
        }
    }

    &-navigation {
        order: 1;
        color: $page-color;
        opacity: 0; //меню
        position: fixed;
        transition: .5s;
        top: 0;
        left: 0;
        transform: translateX(-300px);

        @media (min-width: 1024px) {
            opacity: 1;
            position: relative;
            transform: translateX(0);
        }

        &__list {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            transition: .5s;
            margin-left: .5rem;

            @media (min-width: 1024px) {
                flex-direction: row;
                margin-right: .5rem;
            }

        }

        &__item {
            list-style-type: none;
            padding: 1rem 1.5rem;
            text-transform: uppercase;
            cursor: pointer;
            border: 1px solid $page-color;
            transition: .5s;
            opacity: .8;
            text-indent: 12px;
            position: relative;

            &:hover .header__link {
                color: $additional-color;
                //filter: grayscale(50%);
            }


            @media (min-width: 1024px) {
                padding: 1rem 2rem;
                width: 23%;
                font-size: 1rem;
                margin-left: .5rem;
            }

            &:nth-child(1)>a:before {
                @include menu-image();
                background: url("/../img/home.png");
            }

            &:nth-child(2)>a:before {
                @include menu-image();
                background: url("/../img/link.png");
            }

            &:nth-child(3)>a:before {
                @include menu-image();
                background: url("/../img/search.png");
            }

            &:nth-child(4)>a:before {
                @include menu-image();
                background: url("/../img/settings.png");
            }

            &:hover {
                opacity: 1;
                transform: translateX(-10px);
                background-color: $default-color;
            }

            &_active {
                opacity: 1;
                background-color: $default-color;

                &:hover {
                    transform: translateY(0);
                }
            }
        }
    }

    &-navigation_active {
        opacity: 1;
        z-index: 99;
        transform: translateX(0);
    }

    .zavitok-logo {
        @include zavitok;

        @media (min-width: 1024px) {
            margin-left: 1rem;
        }
    }
}

.link {
    text-decoration: none;
    color: $page-color;
}

.forging {
    padding-bottom: 2rem;
    flex-direction: column;
    display: flex;
    min-height: 300px;
    @include line-gradient(45deg, rgba(0, 0, 0, .7), $first-linear-color 2px, 135deg, rgba(0, 0, 0, .7), $first-linear-color 2px);

    @media (min-width: 1024px) {
        flex-direction: row;
        padding-bottom: 3rem;
    }

    &-about-us {
        color: #fff;
        padding: 3rem 2rem 0 2rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        @include t-shadow-standart();

        &__heading {
            color: $page-color;
            font-size: 2rem;
            padding-bottom: 2rem;
        }

        &__description {
            font-family: "Open Sans", sans-serif;
            line-height: 2rem;
            text-shadow: 1px 1px 0px $default-color;
            position: relative;
            font-style: italic;

            &:after {
                bottom: -10px;
                left: 0;
                content: '';
                width: 100%;
                height: 20px;
                border-radius: 50%;
                background-color: transparent;
                border: 3px solid $additional-color;
                border-top: none;
                border-left: none;
                border-right: none;
                position: absolute;

            }

            &:before {
                top: -10px;
                left: 0;
                content: '';
                width: 100%;
                height: 20px;
                border-radius: 50%;
                background-color: transparent;
                border: 3px solid $additional-color;
                border-bottom: none;
                border-left: none;
                border-right: none;
                position: absolute;

            }
        }

        &__link {
            font-size: 1rem;
            margin-top: 50px;
            cursor: pointer;
            border-bottom: 1px dashed $page-color;
            display: inline-block;
            align-self: center;
            color: $paragraph-color;

            @media (min-width: 1024px) {
                .forging-about-us__link {
                    font-size: 1.3rem
                }
            }

            &:hover {
                color: $page-color;
            }
        }
    }
}

.footer {
    display: flex;
    min-height: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 3rem;
    @include line-gradient(45deg, $first-linear-color, $second-linear-color 2px, 135deg, $first-linear-color, $second-linear-color 2px);

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    &-navigation {
        width: 100%;

        &__list {
            display: flex;
            justify-content: space-around;
            transition: .5s;
            margin-top: 2rem;
            flex-direction: column;

            @media (min-width: 1024px) {
                flex-direction: row;
                justify-content: space-around;
            }
        }

        &__item {
            list-style-type: none;
            text-transform: uppercase;
            cursor: pointer;
            transition: .5s;
            opacity: .8;
            margin: 1rem 0;

            &:hover {
                opacity: 1;

            }

            a {
                &:hover {
                    color: $additional-color;
                }
            }

            &_active {
                opacity: 1;
                color: $additional-color;

                &:hover {
                    transform: scale(1);
                }

                a {
                    color: $additional-color;
                }
            }
        }
    }

    &__logo {
        order: -1;
    }

    .zavitok-logo {
        @include zavitok;

    }

    &__group {
        margin-top: 1rem;
        color: gray;
        border: 3px dashed gray;
        border-radius: 50%;
        padding: 1rem;
        cursor: pointer;
        transition: .5s;

        a {
            transition: .5s;
        }

        &:hover {
            border-color: $additional-color;
        }

        &:hover a {
            color: $third-color;
        }
    }

    .developer {
        color: gray;
        padding-top: 1rem;
        padding-bottom: 1rem;
        opacity: .9;
    }
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: url('../img/anvil.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    &-description {
        text-align: center;
        margin-top: 2rem;

        &__heading {
            color: $page-color;
            font-size: 1.6rem;
            padding-bottom: 1rem;
            margin-top: 1rem;
            @include big-shadow();

            @media (min-width: 1024px) {
                font-size: 2rem;
                padding-bottom: 30px;
                margin-top: 2rem;
            }
        }

        &__text {
            color: $additional-color;
            font-size: 1.3rem;
            line-height: 2rem;
            @include small-shadow();

            @media (min-width: 1024px) {
                font-size: 1.6rem;
            }
        }
    }

    &-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 2.5rem;

        @media (min-width: 1024px) {
            margin-top: 3rem;
            margin-bottom: 5rem;
            flex-flow: row wrap;
        }

        &__item {
            width: 90%;
            display: flex;
            flex-direction: column;
            padding: 3rem 2rem;
            margin: 0 auto 1rem auto;
            background-color: #23263a;
            color: #fff;
            font-family: 'Poppins', sans-serif;

            @media (min-width: 1024px) {
                width: 40%;
            }

            @media (min-width: 1440px) {
                width: 30%;
            }
        }

        &__heading {
            font-size: 1.25rem;
            margin-top: 2rem;
        }

        &__text {
            font-size: 1rem;
            margin-top: 2rem;
            line-height: 1.7rem;
        }

        &__icon {
            width: 100%;
            overflow: hidden;
        }

        &__image {
            max-width: 100%;
            transition: .7s;

            &:hover {
                transform: scale(2);
            }
        }
    }
}

.latest-work {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: $page-color;
    padding-top: 1rem;
    padding-bottom: 3rem;
    @include line-gradient(45deg, $four-color, $second-linear-color 2px, 135deg, $four-color, $second-linear-color 2px);


    &__heading {
        font-size: 1.6rem;
        margin: 2rem 0;

        @media (min-width: 1024px) {
            margin: 3rem 0;
            font-size: 2rem
        }
    }

    &__jobs {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (min-width: 1024px) {
            flex-flow: row wrap;
        }

        @media (min-width: 1440px) {
            flex-flow: row nowrap;
        }
    }

    &__job {
        width: 90%;
        margin: 0 auto;
        margin-top: 2rem;

        @media (min-width: 1024px) {
            width: 40%;
            margin: 0 1rem 3rem 1rem;
        }
    }

    &__description {
        color: $default-color;
        margin-top: 2rem;

        span {
            color: $page-color;
        }
    }

    &__link {
        display: block;
        width: 100%;
        overflow: hidden;
    }

    &__image {
        border-radius: 50%;
        width: 100%;
        transition: .7s;
        opacity: .9;

        &:hover {
            transform: scale(2);
            opacity: 1;
        }

    }
}

.gallery {
    position: relative;
    font-family: "Poppins", sans-serif;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;

    &__wrapper {
        display: flex;
        min-height: 300px;
        width: 400%;
        max-height: 1200px;
    }

    &__elem {
        position: relative;
        display: flex;
        flex: 1 1 0px; // flex-basis: 0; //flex-basis: 100%;
    }

    &__image {
        width: 100%;

    }

    &__block {
        position: absolute;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 0 5%;
        justify-content: space-between;
        text-align: center;
        padding: 2rem 0;

        @media (min-width: 1024px) {
            justify-content: flex-end;
        }
    }

    &__heading {
        color: $page-color;
        font-size: 1.3rem;
        @include big-shadow();


        @media (min-width: 1024px) {
            font-size: 1.6rem;
            margin-bottom: 1rem;
        }
    }

    &__description {
        font-size: 1rem;
        color: $page-color;
        @include small-shadow();

        @media (min-width: 1024px) {
            font-size: 1.3rem;
        }

    }

    &__arrowLeft {
        @include button-border(10%, 45deg);
    }

    &__arrowRight {
        @include button-border(90%, 225deg);
    }
}

.contact-us {
    color: #fff;
    padding: 2rem 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    @include line-gradient(45deg, $four-color, $contact-color 2px, 135deg, $four-color, $contact-color 2px);

    @media (min-width: 1024px) {
        padding-top: 3rem;
        padding-bottom: 3rem;
        flex-direction: row;
        justify-content: space-around;
    }

    &__heading {
        font-size: 1.6rem;

        @media (min-width: 1024px) {
            font-size: 2rem;
        }
    }



    &__wrapper {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        flex-basis: 40%;

    }

    &__address {
        flex-basis: 40%;
        display: flex;
        flex-direction: column;

    }

    &__contact-form {
        flex-basis: 40%;
        margin-top: 2rem;

        @media (min-width: 1024px) {
            margin-top: 0rem;
        }
    }

    &__form {
        padding: 1rem 1rem 0 1rem;
        display: flex;
        flex-direction: column;

        @media (min-width: 1024px) {
            padding: 2rem;
        }
    }

    &__input {
        @include form-ui();
    }

    &__textarea {
        @include form-ui();
        padding: 2rem 1rem;
    }

    &__button {
        @include form-ui();
        background-color: $additional-color;
        color: $default-color;
        border: none;

        &:hover {
            color: $additional-color;
            background-color: $default-color;
        }
    }

    &__link {
        @extend .link;
        color: $additional-color;


        &:hover {
            border-bottom: 2px dashed $page-color;
        }
    }

    &__telephone {
        margin: 1rem 0;
    }
}

.information {

    font-family: 'Poppins', sans-serif;
    @include line-gradient(45deg, $four-color, $second-linear-color 2px, 135deg, $four-color, $second-linear-color 2px);

    &__heading {
        text-align: center;
        color: $page-color;
        font-size: 1.6rem;
        @include big-shadow();
        padding: 3rem 0;

        @media (min-width: 1024px) {
            font-size: 2rem;

        }
    }
}

.about {
    font-family: 'Poppins', sans-serif;
    @include line-gradient(45deg, $four-color, $second-linear-color 2px, 135deg, $four-color, $second-linear-color 2px);
    color: $page-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    @media (min-width: 768px) {
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: row;
        align-items: unset;
    }

    &__heading {
        text-align: center;
        color: $page-color;
        font-size: 1.6rem;
        @include big-shadow();
        padding: 3rem 0;

        @media (min-width: 768px) {
            flex-basis: 100%;
        }

        @media (min-width: 1024px) {
            font-size: 2rem;
        }
    }

    & .advantages {
        flex-basis: 30%;

        &__heading {
            font-size: 1.3rem;

            @media (min-width: 1024px) {
                font-size: 1.6rem;

            }

        }

        &__list {
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
        }

        &__item {
            line-height: 2.5rem;
            display: inline-block;
            position: relative;

            &:before {
                content: '';
                width: 32px;
                height: 32px;
                background: url("/../img/ok.svg");
                background-size: cover;
                top: 5px;
                left: -40px;
                position: absolute;
            }

        }
    }

    & .history {
        flex-basis: 40%;
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        padding: 0 1rem;
        text-align: center;

        @media (min-width: 768px) {
            margin-top: 0;
        }


        &__heading {
            font-size: 1.3rem;

            @media (min-width: 1024px) {
                font-size: 1.6rem;
            }
        }

        &__about {
            margin-top: 2rem;
            line-height: 1.1rem;
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow: hidden;

            @media (min-width: 768px) {
                line-height: 1.3rem;
            }
        }

        &__text {
            line-height: 1.6rem;

        }

        &__movie {
            margin-top: 1rem;
            overflow: hidden;
            margin-top: -1rem;
            width: 100%;

            @media (min-width: 375px) {
                margin-top: 1rem;
                margin-bottom: 1rem;
            }

            @media (min-width: 768px) {
                margin: 0;

            }

            @media (min-width: 1440px) {
                margin-top: 2rem;
            }

            & video {}
        }
    }
}

.more {
    text-align: center;

    & .heading__smile {
        @media (min-width: 1440px) {
            width: 100%;
        }
    }

    @media (min-width: 1440px) {
        margin-top: 2rem;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    &__info {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem 0;
        justify-content: space-around;

        @media (min-width: 768px) {
            flex-wrap: nowrap;
        }
    }

    &__story {
        display: flex;
        position: relative;
        overflow: hidden;
        padding: 1rem 0;

    }

    &__image {
        transition: .5s;
        width: 100%;

        &:hover {
            transform: scale(2);
            z-index: 999;
        }
    }

    &__hint {
        position: absolute;
        padding: 1rem 0;
        background: $paragraph-color;
        background: rgba(0, 0, 0, .7);
        text-transform: lowercase;
        top: 1rem;
        width: 100%;
        letter-spacing: 2px;
    }
}

.main-about {
    &>.contact-us {
        background: url('/../img/home51.jpg');
        background-size: cover;
        background-position: 30% 0%;

        & .contact-us__heading {
            @include t-shadow-standart();
            background-color: $first-linear-color;
            padding: 1rem 0;
            font-size: 1.3rem;

            @media (min-width: 768px) {
                background: unset;
            }

            @media (min-width: 1024px) {
                font-size: 1.6rem;
            }
        }
    }



}